.index-form {
    width: 100%;
    height: 100vh;
}

.tab-contents {
    width: 100%;
    display: flex;
    gap: 20px;
    margin: 24px 0;
    padding: 0 100px;
    border-bottom: 2px solid #ddd;
}

.tab-contents a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    font-weight: 700;
    font-size: 24px;
}

.tab-contents .active-tab {
    color: #FF0000;
}

.contents {
    width: 100%;
}

.item-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    max-width: 1250px;
    margin: 60px auto 0;
    justify-content: flex-start;
}

.item-content {
    position: relative;
    flex: 1 1 calc(25% - 5%);
    background-color: transparent;
    overflow: hidden;
    min-width: 230px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.item-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.item-img {
    width: 100%;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    object-fit: cover;
    display: block;
}

.item-name {
    margin-top: 8px;
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    font-size: 25px;
    z-index: 2;
}

.sold-label {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    color: red;
    font-weight: 700;
    padding: 4px 6px;
    border-radius: 4px;
    z-index: 2;
}

@media (max-width: 1024px) {
    .item-content {
        flex: 1 1 calc(33.333% - 10px);
    }
}

@media (max-width: 768px) {
    .item-content {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .item-content {
        flex: 1 1 100%;
    }
}